<$mt:Include module="header"$>
<main id="search_result">
  <!-- ぱんくず（ページ共通） -->
  <section class="breadcrumb">
    <div class="contents_in">
      <ul>
        <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>">全国の墓地公園・納骨堂</a></li>
        <li><span>検索結果</span></li>
      </ul>
    </div>
  </section>
  <div class="contents_in under">
    <section class="main_area">
      <div id="search-result">
      </div>
    </section>
  </div>
</main><!--END #search_result-->
<$mt:Include module="footer"$>