<footer>

  <div class="contents_in">
    <div class="flex_01">
      <div class="cnt_logo">
        <div class="cnt_img"><img src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/logo.png" alt=""></div>
        <span>墓地公園・納骨堂のご案内</span>
      </div>
      <div class="flex_01_in">

        <div class="cnt_box01 pc">
          <div class="cnt_text arrow"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>">全国の墓地公園・納骨堂</a></div>
          <div class="box_in_flex">
            <div class="box_in">
              <!-- <div class="cnt_text02">お墓の種類で探す</div> -->
              <ul>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">墓地</a></li>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">長期収納型納骨堂</a></li>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">永久収蔵納骨堂</a></li>
              </ul>
              <!-- END  .box_in -->
            </div>
            <div class="box_in">
              <!-- <div class="cnt_text02">場所で探す</div> -->
              <ul>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">北海道・東北</a></li>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">関東・東海</a></li>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">中部・信越・北陸</a></li>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">関西</a></li>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">中国・四国</a></li>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">九州・沖縄</a></li>
              </ul>
              <!-- END  .box_in -->
            </div>
          </div>
          <!-- END  .cnt_box01 -->
        </div>

        <div class="cnt_box01_sp sp">
          <div class="cnt_text cnt_text_plus">全国の墓地公園・納骨堂</div>
          <div class="box_in_out">
            <div class="box_in">
              <!-- <div class="cnt_text02">お墓の種類で探す</div> -->
              <ul>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">墓地</a></li>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">長期収納型納骨堂</a></li>
                <li class="arrow"><a href="<$mt:WebsiteURL$>">永久収蔵納骨堂</a></li>
              </ul>
              <!-- END  .box_in -->
            </div>
            <div class="box_in">
              <!-- <div class="cnt_text02">場所で探す</div> -->
              <ul>
                <li><a href="<$mt:WebsiteURL$>">北海道・東北</a></li>
                <li><a href="<$mt:WebsiteURL$>">関東・東海</a></li>
                <li><a href="<$mt:WebsiteURL$>">中部・信越・北陸</a></li>
                <li><a href="<$mt:WebsiteURL$>">関西</a></li>
                <li><a href="<$mt:WebsiteURL$>">中国・四国</a></li>
                <li><a href="<$mt:WebsiteURL$>">九州・沖縄</a></li>
              </ul>
              <!-- END  .box_in -->
            </div>
          </div>
          <!-- END  .cnt_box01 -->
        </div>

        <div class="cnt_box02 pc">
          <div class="cnt_text cnt_text_plus">各種手続きについて</div>
          <div class="box_in">
            <ul>
              <li class="arrow"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/cemetery/">納骨手続き（墓地）</a></li>
              <li class="arrow"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/ossuary01/">納骨手続き（長期収蔵型納骨堂）</a></li>
              <li class="arrow"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/ossuary02/">納骨手続き（永久収蔵納骨堂）</a></li>
              <li class="arrow"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/reburial/">改葬の手続き</a></li>
              <li class="arrow"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/other-procedure/">その他の手続き</a></li>
            </ul>
            <!-- END  .box_in -->
          </div>
          <!-- END  .cnt_box02 -->
        </div>

        <div class="cnt_box02 sp">
          <div class="cnt_text cnt_text_plus">各種手続きについて</div>
          <div class="box_in">
            <ul>
              <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/cemetery/">納骨手続き（墓地）</a></li>
              <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/ossuary01/">納骨手続き（長期収蔵型納骨堂）</a></li>
              <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/ossuary02/">納骨手続き（永久収蔵納骨堂）</a></li>
              <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/reburial/">改葬の手続き</a></li>
              <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/other-procedure/">その他の手続き</a></li>
            </ul>
            <!-- END  .box_in -->
          </div>
          <!-- END  .cnt_box02 -->
        </div>

        <div class="cnt_box03">
          <div class="cnt_text arrow"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>faq/">よくある質問　Q＆A</a></div>
          <div class="cnt_text arrow"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>news/">お知らせ</a></div>
          <ul>
            <li class="arrow"><a href="https://www.sokanet.jp/goiken/index.html" target="blank">ご意見</a></li>
            <li class="arrow"><a href="<$mt:WebsiteURL$>terms.html" target="blank">ご利用にあたって</a></li>
          </ul>
          <!-- END  .cnt_box03 -->
        </div>
      </div>
      <!-- END  .contents_in -->
    </div>
    <!-- END  .flex_01 -->
  </div>


  <div class="flex_02">
    <div class="contents_in">
      <div class="cnt_text">関連リンク</div>
      <div class="flex">
        <div class="img_out">
          <div class="img"><a href="<$mt:WebsiteURL$>" target="_blank"><img
                src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/banner01.jpg" alt="バナー:創価学会"></a></div>
        </div>
        <div class="img_out">
          <div class="img"><a href="https://www.sokagakkai.jp/w2/yujinsou/" target="_blank"><img
                src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/banner02.jpg" alt="バナー:友人葬"></a></div>
        </div>
        <div class="img_out">
          <div class="img"><a href="https://www.sokagakkai.jp/w2/20150907-ohigan/" target="_blank"><img
                src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/banner03.jpg" alt="バナー:創価学会のよくわかるお彼岸"></a></div>
        </div>
      </div>
      <!-- END  .contents_in -->
    </div>
    <!-- END  .flex_02 -->
  </div>
  <div class="cnt_text_last">&copy;SokaGakkai（JAPAN） All Rights Reserved.</div>
</footer>
<!-- END  #wrapper -->
</div>


<script type="text/javascript" src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/js/slick.min.js"></script>
<script type="text/javascript" src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/js/common.js"></script>
<script type="text/javascript" src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/js/pk.js"></script>
</body>

</html>