<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <$mt:BlogName$>｜<$mt:WebsiteName$>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:site_name" content="" />
  <meta property="og:description" content="" />
  <meta name="twitter:card" content="">
  <meta property="twitter:url" content="" />
  <meta property="og:image" content="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/OGP.jpg">
  <link rel="shortcut icon" href="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/favicon.ico">
  <link rel="apple-touch-icon" href="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/android-chrome-192x192.png">
  <link rel="stylesheet" href="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/css/reset.css">
  <link rel="stylesheet" href="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/css/slick.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
  <link rel="stylesheet" href="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/css/common.css">
  <link rel="stylesheet" href="<$mt:Link template='メインページ' blog_id='memorial_park'$>local/local.css">
  <link rel="stylesheet" href="<$mt:Link template='メインページ' blog_id='memorial_park'$>local/local_sp.css">
  <script type="text/javascript"
    src="https://typesquare.com/3/tsst/script/ja/typesquare.js?611cae18ffdc4a3583350819ac1e02d5" charset="utf-8">
  </script>
</head>

<body>

  <div id="wrapper">

    <header>
      <div class="contents_in">
        <a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>">
          <div class="logo_box">
            <div class="cnt_img"><img src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/logo.png" alt="ロゴ:創価学会"></div>
            <span>墓地公園・納骨堂のご案内</span>
            <!-- END  .logo_box -->
          </div>
        </a>
        <div class="flex_box flex_box01">
          <nav class="pc">
            <ul>
              <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>#search">全国の墓地公園・納骨堂</a></li>
              <li class="slide"><a class="slide_btn addcss_cursorpointer">各種手続き</a>
                <div class="cnt_box13">
                  <div class="contents_in">
                    <div class="menu_box14">
                      <div class="cnt_text first_text01">納骨の手続き</div>
                      <ul>
                        <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/cemetery/">墓地</a></li>
                        <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>>procedure/ossuary01/">長期収蔵型納骨堂</a></li>
                        <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/ossuary02/">永久収蔵納骨堂</a></li>
                      </ul>
                    </div>
                    <div class="menu_box15">
                      <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/reburial/">改葬の手続き</a>
                      </div>
                      <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>other-procedure/">その他の手続き</a></div>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>faq/">よくある質問Q&amp;A</a></li>
            </ul>
          </nav>
          <div class="glass_out">
            <div class="glass"><img src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/icon_glass.png" alt="">
              <img src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/triangle.png" alt="" class="menu_active_g">
              <!-- END  .glass -->
            </div>
          </div>
          <div class="menu_out">
            <div class="menu"><img src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/icon_hamburger.png" alt="">
              <img src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/triangle.png" alt="" class="menu_active">
              <!-- END  .menu -->
            </div>
          </div>
          <!-- END  .flex_box01 -->
        </div>
        <div class="menu_bigbox01">
          <div class="contents_in">
            <div class="menu_box00">
              <div class="cnt_text first_text01">全国の墓地公園・納骨堂</div>
              <div class="flex_box">
                <div class="cnt_text_second sp">お墓の種類で探す</div>
                <ul class="sp_close">
                  <li class="second_text pc">お墓の種類で探す</li>
                  <li class="first_li"><a href="<$mt:BlogRelativeURL$>">各地の墓園(墓所)</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">長期収蔵型納骨堂</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">永久収蔵納骨堂</a></li>
                </ul>
                <div class="cnt_text_second sp">場所で探す</div>
                <ul class="sp_close">
                  <li class="second_text pc">場所で探す</li>
                  <li class="first_li"><a href="">北海道・東北</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">関東・東海</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">中部・信越・北陸</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">関西</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">中国・四国</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">九州・沖縄</a></li>
                </ul>
                <!-- END  .flex_box -->
              </div>
              <!-- END  .menu_box00 -->
            </div>
            <div class="menu_box01">
              <div class="search_block">
                <form role="search" method="get" class="searchform" action="">
                  <input type="text" name="s" id="s" value="" placeholder="キーワードで検索">
                  <button type="submit">
                    <div class="search_icon"></div>
                  </button>
                </form>
              </div>
              <!-- END .menu_box01 -->
            </div>

            <!-- END  .contents_in -->
          </div>

          <!-- END  .menu_bigbox01 -->
        </div>
        <div class="menu_bigbox02">
          <div class="contents_in">
            <div class="menu_box00 pc">
              <div class="cnt_text first_text01">全国の墓地公園・納骨堂</div>
              <div class="flex_box">
                <ul class="sp_close">
                  <li class="second_text">お墓の種類で探す</li>
                  <li><a href="<$mt:BlogRelativeURL$>">各地の墓園(墓所)</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">長期収蔵型納骨堂</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">永久収蔵納骨堂</a></li>
                </ul>
                <ul class="sp_close">
                  <li class="second_text">場所で探す</li>
                  <li><a href="<$mt:BlogRelativeURL$>">北海道・東北</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">関東・東海</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">中部・信越・北陸</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">関西</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">中国・四国</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">九州・沖縄</a></li>
                </ul>
                <!-- END  .flex_box -->
              </div>
              <!-- END  .menu_box00 -->
            </div>
            <div class="menu_box001 sp">
              <div class="cnt_text first_text01">全国の墓地公園・納骨堂</div>
              <div class="flex_box">
                <ul class="sp_close">
                  <li class="second_text">お墓の種類で探す</li>
                  <li><a href="<$mt:BlogRelativeURL$>">各地の墓園(墓所)</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">長期収蔵型納骨堂</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">永久収蔵納骨堂</a></li>
                </ul>
                <ul class="sp_close">
                  <li class="second_text">場所で探す</li>
                  <li><a href="<$mt:BlogRelativeURL$>">北海道・東北</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">関東・東海</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">中部・信越・北陸</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">関西</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">中国・四国</a></li>
                  <li><a href="<$mt:BlogRelativeURL$>">九州・沖縄</a></li>
                </ul>
                <!-- END  .flex_box -->
              </div>
              <!-- END  .menu_box00 -->
            </div>
            <div class="menu_box01 pc">
              <div class="cnt_text first_text01">各種の手続き</div>
              <div class="cnt_text nlink bb">納骨の手続き</div>
              <ul>
                <li>
                  <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/cemetery/">墓地</a></div>
                </li>
                <li>
                  <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/ossuary01/">長期収蔵型納骨堂</a></div>
                </li>
                <li>
                  <div class="cnt_text bb"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/ossuary02/">永久収蔵納骨堂</a>
                  </div>
                </li>
              </ul>
              <ul>
                <li>
                  <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/reburial/">改葬の手続き</a></div>
                </li>
                <li>
                  <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>other-procedure/">その他の手続き</a></div>
                </li>
              </ul>
              <!-- END  .menu_box01 -->
              <!--</div>-->
              <!-- END   -->
            </div>
            <div class="menu_box001 sp menu_box02">
              <!--<div class="cnt_box">-->
              <div class="cnt_text nlik"><a>各種の手続き</a></div>
              <div class="cnt_text nlik"><a>納骨の手続き</a></div>
              <ul>
                <li>
                  <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/cemetery/">墓地</a></div>
                </li>
                <li>
                  <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/ossuary01/">長期収蔵型納骨堂</a></div>
                </li>
                <li>
                  <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/ossuary02/">永久収蔵納骨堂</a></div>
                </li>
              </ul>
              <ul>
                <li>
                  <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>procedure/reburial/">改葬の手続き</a></div>
                </li>
                <li>
                  <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>other-procedure/">その他の手続き</a></div>
                </li>
              </ul>
              <!-- END  .menu_box01 -->
              <!--</div>-->
              <!-- END   -->
            </div>
            <div class="menu_box02">
              <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>faq/">よくある質問　Q&amp;A</a></div>
              <div class="cnt_text"><a href="<$mt:Link template='メインページ' blog_id='memorial_park'$>news/">お知らせ</a></div>
              <ul>
                <li><a href="<$mt:WebsiteURL$>">ご意見</a></li>
                <li><a href="<$mt:WebsiteURL$>">ご利用にあたって</a></li>
              </ul>
              <div class="cnt_text_banner sp">関連リンク</div>
              <ul class="banner">

                <li class="pc">関連リンク</li>
                <li class="banner_img"><a href="https://www.sokanet.jp/" target="_blank"><img
                      src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/banner01.jpg" alt="バナー:創価学会"></a></li>
                <li class="banner_img"><a href="https://www.sokanet.jp/recommend/yujinsou/" target="_blank"><img
                      src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/banner02.jpg" alt="バナー:友人葬"></a></li>
                <li class="banner_img"><a href="https://www.sokanet.jp/recommend/20150907-ohigan/" target="_blank"><img
                      src="<$mt:Link template='メインページ' blog_id='memorial_park'$>common/img/banner03.jpg" alt="バナー:創価学会"></a></li>
              </ul>
              <!-- END  .menu_box03 -->
            </div>
            <!-- END  .contents_in -->
          </div>

          <!-- END  .menu_bigbox02 -->
        </div>
        <!-- END  .contents_in -->
      </div>
    </header>