<aside id="sub_area">
  <div class="nav_box">
    <div class="nav_ttl">戸田記念墓地公園<span>戸田常楽納骨堂</span></div>
    <nav>
      <ul>
        <li><a href="<$mt:BlogRelativeURL$>">
            <div class="ic sp"><img src="<$mt:Link template='メインページ' blog_id='memorial_park'$>img/facility/ic_nav01.png" alt=""></div>TOP（概要）
          </a></li>
        <li><a href="<$mt:BlogRelativeURL$>facility/">
            <div class="ic sp"><img src="<$mt:Link template='メインページ' blog_id='memorial_park'$>img/facility/ic_nav02.png" alt=""></div>園内施設の紹介
          </a></li>
        <li><a href="<$mt:BlogRelativeURL$>access/">
            <div class="ic sp"><img src="<$mt:Link template='メインページ' blog_id='memorial_park'$>img/facility/ic_nav03.png" alt=""></div>交通案内
          </a></li>
      </ul>
    </nav>
  </div>
</aside>